<!doctype html>
<html lang="en">

<head>
    <title>TravelAppThing</title>
    <link rel="stylesheet" href="stylesheets/style.css" />

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAFgELfCT5F1bqXCl8eBAHQnAEvx0eb44"></script>
    <script src='./bower_components/flickrapi/browser/flickrapi.dev.js'></script>
    <script src="app/maps/maps.js"></script>

    <script src="app/pics/pics.js"></script>
    <script src="app/services.js"></script>
    <script src="app/app.js"></script>
    <meta charset="UTF-8">
</head>

<body ng-app="app">

<!-- -    <div class="container" ng-include src="'searchBar.html'"></div> -->
   <div class="container" ng-controller="picController" id="mapthing">
     <div class="jumbotron">
         <h1>Travel App Thing</h1>
         <p>Search a for a place for travel pictures. Something more interesting here..</p>
         <div class="col-md-12">
             <div>
                 <div class="input-group">
                     <input type="text" ng-model="searchQuery" placeholder="Search for a place..." class="form-control SearchBar" />
                     <span class="input-group-btn">
                       <a href='#map'>
                       <button class="btn btn-defaul SearchButton" type="button" ng-click="getImagesFlickr(searchQuery); search(searchQuery)" ng-href="#">
                         <span class=" glyphicon glyphicon-search SearchIcon" ></span>
                       </button>
                     </a>
                     </span>
                 </div>
             </div>
         </div>
     </div>

     <my-map></my-map>




       <div class="col-md-6 col-md-3" ng-model="searchQuery" ng-repeat='picture in picture.pictures'>
         <div class="thumbnail">
           <img id='images' ng-src="{{picture.url}}" ng-click="picClick(picture.lat, picture.lng)"/>
           <div class="caption">
             <a href="#" class="btn btn-danger" role="button"><p class="glyphicon glyphicon-heart"></p></a>
            <a href="#" class="btn btn-warning" role="button"><p class="glyphicon glyphicon-remove"></p></a>
           </div>
         </div>
       </div>




   </div>




 </body>

 </html>
