
<div class="jumbotron">
    <h1>Travel App Thing</h1>
    <p>Search a for a place for travel pictures. Something more interesting here..</p>
    live search box
    <div class="row">
        <div class='col-md-12'>
            <div class="input-group">
                <input type="text" ng-model="searchQuery" placeholder="Search for a place..." class="form-control SearchBar" />
                <span class="input-group-btn">
                  <a href='#map'>
                  <button class="btn btn-defaul SearchButton" type="button" ng-click="getImagesFlickr(searchQuery)" ng-href="#">
                    <span class=" glyphicon glyphicon-search SearchIcon" ></span>
                  </button>
                </a>
                </span>
                <div ng-repeat='picture in picture.pictures'>{{picture}}</div>
            </div>
        </div>
    </div>
    <p ng-bind="searchQuery"></p>
    <a name="map"></a>
</div>
