#facebook {
  text-align: -webkit-right;
  display: flex;
  align-content: space-between;
  justify-content: flex-end;
  align-items: stretch;
}
.row {
    display: table;
}
.gm-style-iw + div {display: none;}

html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

#map_canvas, #gmap {
  height: 75%;
  width: 100%;
  margin: 0px;
}

#mapthing {
  height: 100%;
  width: 100%;
}

#map_canvas {
  height: 400px;
  width: 100%;
}

#images {
  height:200px;
  width: 250px;
}

#thumbnail {
  height: 260px;
}

.caption {
  text-align: -webkit-right;
}

#mimg {
  display: block;
  margin: auto;
}

.display-1 {
  text-align: center;
}

.SearchIcon {
  height: 30px;
}

.favs {
  margin-right: 20px;
}
